<html>
<head>
</head>
<body>
  <meta charset="utf-8" />
	{% load staticfiles %}
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css %}" type = "text/css"/>
  <style>
  ul
  {
    list-style-type: none;
  }
</style>
  <h1> INDEX <a href='/settings'><button type="button" class="btn btn-default" aria-label="glyphicon-cog">
        <span class="glyphicon glyphicon-cog" aria-hidden="true" ></span>
    </button></a></h1>

  <form method="POST">
    {% csrf_token %}
          <p>
            {% for field in form %}
            {{ field.label }}
            {{ field }}
          </p>
           {% endfor %}
          <button type='submit'>Add</button>
      </form>

        <table class="pure-table">

        <th>Name</th>
            <th> Car link </th>
            <th> States </th>
            
            <th> Options </th>
        </tr>
            {% for car in list %}
                <tr>
                    <td> {{ car.name }}</td>
                    <td>{{ car.link|cut:".craigslist.org/search/cto?query" }}</td>
                    <td> {{  car.states }}</td>
                    <td> <a href='edit/?carid={{ car.id }}'>
                        <button type="button" class="btn btn-default" aria-label="glyphicon-edit">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button> </a> </td>
                        
                    <td>  <a href="remove/?carid={{  car.id }}">
                        <button type="button" class="btn btn-default" aria-label="glyphicon-remove" href='remove/?carid={{ car.id }}'>
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button></a></td>
                    

                </tr>

            {% endfor %}
          </table>


      <br>

      <br>
</body>
</html>
